<form>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="bar.nombre" required>
  
    <label for="dueno">Dueno</label>
    <input type="text" id="dueno" name="dueno" [(ngModel)]="bar.dueno" required>
  
    <label for="tipo">Tipo</label>
    <input type="text" id="tipo" name="tipo" [(ngModel)]="bar.tipo" required>
  
    <label for="direccion">Dirección</label>
    <input type="text" id="direccion" name="direccion" [(ngModel)]="bar.direccion" required>
  
    <label for="horario">Horario</label>
    <input type="text" id="horario" name="horario" [(ngModel)]="bar.horario" required>
  
    <label for="capacidad">Capacidad</label>
    <input type="number" id="capacidad" name="capacidad" [(ngModel)]="bar.capacidad" required>
  </form>
  
  